<a href="https://colab.research.google.com/github/Madung2/modu_algorithm/blob/main/%EB%AA%A8%EB%91%90%EC%9D%98_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2일차 최대값을 찾는 알고리즘

In [ ]:
def find_max(numbers):
  num_len = len(numbers)
  a=numbers[0]
  for i in range(1, num_len):    
    print(a)
    if a < numbers[i]:
      
      a= numbers[i]
  return a


num= [17, 18, 33, 48, 92, 7, 33]

find_max(num)
#O(n)

17
18
33
48
92
92

92

2일차 응용// 리스트에 숫자가 n개 있을때 가장 큰 값이 있는 위치 번호를 돌려주는 알고리즘

In [ ]:
def find_max_index(numbers):
  num_len = len(numbers)
  
  m_index=0
  for i in range(1, num_len):    
    
    if numbers[m_index] < numbers[i]:
      # print(i)
      m_index=i      
      
  return m_index


num= [17, 92, 18, 33, 48,  7, 33]

find_max_index(num)

1

2일차 연습문제//리스트로 입력받아 최소값을 구하는 문제

In [ ]:
def find_min(numbers):
  n_len=len(numbers)
  min=numbers[0]
  for i in range(1,n_len):
    if min > numbers[i]:
      min=numbers[i]
  return min

num= [17, 92, 18, 33, 48,  7, 33]

find_min(num)

7

3일차//동명이인 찾기 ((집합 사용))// 계속 반복해서 같은 사람 있는지 확인

In [ ]:
def find_same_name(names):
  result = set()
  n_len=len(names)
  for i in range(n_len):
    for j in range(i+1, n_len):
      if names[i]==names[j]:
        result.add(names[i])
      
  return result

names=['Tom', 'Jerry', 'Mike', 'Tom']

find_same_name(names)

names2=['Tom', 'Jerry', 'Mike', 'Tom', 'Mike']

find_same_name(names2)
#O(n2)

{'Mike', 'Tom'}

3일차 연습문제1// 두명을 뽑아 짝을 짓는다고 할때 짝을 지을수 있는 모든 조합

In [ ]:
def make_friends(people):
  n=len(people)
  result=[]
  for i in range(n-1):
    for j in range(i+1, n):
      friend = people[i]+"-"+people[j]
      result.append(friend)
  return result

people = ['Tom', 'Jerry', 'Mike']
make_friends(people)

['Tom-Jerry', 'Tom-Mike', 'Jerry-Mike']

3일차 연습문제2// 다음 식을 각각 대문자 O표기법으로 표현해보세요.

A => O(1)
B => O(n)
C => O(n2)
D => O(n4)

4일차 팩토리얼 구하기

In [ ]:
def factorial(num):
  
  result=1
  for i in range(1,num+1):
    result*=i
  print(result)


factorial(10)

3628800

4일차 재귀호출로 팩토리얼 구하기

In [ ]:
def hello():
  print("hello")
  #hello()
hello()

hello

In [ ]:
def factorial(num):
  if num<=1:
    return 1
  return num*factorial(num-1)
factorial(10)

3628800

문제의 1부터 n까지 합 구하기를 재귀 호출로 만들어보기

In [ ]:
def add_all(n):
  if n<=1:
    return 1
  return n+add_all(n-1)

add_all(10)

55

숫자 n개 중에서 최대값 찾기를 재귀 호출로 만들어보기

In [ ]:
n_list=[17, 92, 18, 33, 48,  7, 33]

def find_max(n_list):
  if len(n_list)<=1:
    return n_list[0]
  else:
    if n_list[-1]>find_max(n_list[:-1]):
      return n_list[-1]
    return find_max(n_list[:-1]) 

find_max(n_list)

92

5일차 최대공약수 구하기

In [ ]:
def gcd(a,b):
  i=min(a,b)
  while True:
    if a%i==0 and b%i==0:
      return i
    i=i-1

  #둘중 작은 수를 최대공약수 i로 가져온다.
  # 각자 i로 나눠 떨어지는지 확인하고 나눠 떨어지면 i를 리턴한다.
  # 나눠 떨어지지 않을때는 i값을 1개씩 나눠서 같은 행동을 반복한다.

5일차 최대공약수 구하기 유클리드 버전

a와 b의 최대공약수는 'b'와 'a를 b로 나눈 나머지'd의 최대공약수와 같습니다. 즉 gcd(a,b)=gcd(b,a%b)입니다.

In [ ]:
def gcd(a,b):
  if b==0:
    return a
  return gcd(b,a%b)

5일차 연습문제// 피보나치 수열

In [ ]:
def fibonacci(n):
  if n==1:
    return 1
  elif n==0:
    return 0
  return fibonacci(n-1)+fibonacci(n-2)

8

6일차 하노이의 탑

In [ ]:
###############기둥이 딱 3개일때
#원반이 하나일 때 1번
#원반이 두개일 때 3번
#원반이 3개일 때 3번+1번 +3번
#원반이 4개 일때 7번+1번 +7번

def hanoiTower(n):
  if n==1:
    return 1
  return hanoiTower(n-1)*2+1

hanoiTower(4)

15

In [ ]:
def hanoi(n, from_, to_, aux_ ):
  if n==1:
    print(from_, '->', to_)
    return
  hanoi(n-1, from_,to_, aux_)
  print(from_,'->', to_)
  hanoi(n-1, aux_,to_, from_)

In [ ]:
hanoi(3,1,3,2)

1 -> 3
1 -> 3
2 -> 3
1 -> 3
2 -> 3
2 -> 3
1 -> 3